language: python

env:
  - TOXENV=py26-mysql
  - TOXENV=py27-mysql
  - TOXENV=py26-postgres
  - TOXENV=py27-postgres
  - TOXENV=py26-sqlite
  - TOXENV=py27-sqlite
  - TOXENV=py34-sqlite
  - TOXENV=py34-postgres
  - TOXENV=py34-mysqlclient
  - TOXENV=py27-flake8
  - TOXENV=py34-flake8

install: pip install tox

matrix:
  fast_finish: true

script: tox -e ${TOXENV}
