global-include *.py *.rst *.txt
include LICENSE MANIFEST.in .travis.yml circle.yml tox.ini
include debian/* sqlobject/.coveragerc
include docs/Makefile docs/genapidocs docs/rebuild
recursive-include docs *.css *.html *.js *.gif *.png
prune docs/_build
