global-include *.py *.rst *.txt
recursive-include docs *.css *.html *.js *.gif *.png
include LICENSE MANIFEST.in .tox.ini
include debian/*
include docs/Makefile docs/genapidocs docs/rebuild
recursive-exclude devscripts *
recursive-exclude docs/_build *
