include .gitignore docs/.gitignore
include MANIFEST.in ez_setup.py
include .travis.yml tox.ini
include *.txt docs/LICENSE docs/*.txt docs/rebuild
include sqlobject/maxdb/readme.txt
recursive-include debian *
recursive-include docs *.css *.html *.js *.gif *.py
recursive-include sqlobject/tests *.py
recursive-include sqlobject/inheritance/tests *.py
recursive-include sqlobject/versioning/test *.py

