td {
  vertical-align: top;
}

.string { 
  color: #006600;
}

.comment { 
  color: #993300;
}

.output { 
  font-weight: bold;
  color: #000066;
}

.prompt { 
  color: #000000;
}

.sql { 
  color: #004466;
  font-weight: bold;
}

code { 
  color: #000066;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
}

pre { 
  margin-left: 7px;
  padding: 3px;
  border-left: 4px solid #666666;
  background-color: #eeeeee;
}

tr.code-accent td, tr.code-accent th { 
  border: medium green dashed;
}