mysqlclient == 2.0.3; python_version == '3.6' and sys_platform == 'win32'
mysqlclient == 2.0.3; python_version == '3.7' and sys_platform == 'win32'
mysqlclient == 2.1.1; python_version == '3.8' and sys_platform == 'win32'
mysqlclient >= 2.2.7; python_version == '3.9' and sys_platform == 'win32'
mysqlclient >= 2.2.7; python_version == '3.10' and sys_platform == 'win32'
mysqlclient >= 2.2.7; python_version == '3.11' and sys_platform == 'win32'
mysqlclient >= 2.2.7; python_version == '3.12' and sys_platform == 'win32'
mysqlclient >= 2.2.7; python_version == '3.13' and sys_platform == 'win32'
mysqlclient; sys_platform != 'win32'
