mysql-connector-python <= 8.0.23; python_version == '2.7'
protobuf < 3.19; python_version == '3.4'
mysql-connector-python <= 8.0.22, > 2.0; python_version == '3.4'
mysql-connector-python <= 8.0.23, >= 8.0.5; python_version == '3.5'
mysql-connector-python <= 8.0.28, >= 8.0.6; python_version == '3.6'
mysql-connector-python <= 8.0.29, >= 8.0.13; python_version == '3.7'
mysql-connector-python <= 8.0.29, >= 8.0.19; python_version == '3.8'
mysql-connector-python <= 8.0.29, >= 8.0.24; python_version == '3.9'
mysql-connector-python <= 8.0.29, >= 8.0.28; python_version == '3.10'
mysql-connector-python >= 8.0.29; python_version >= '3.11'
