-r requirements.txt

pytest < 5.0; python_version == '2.7' or python_version == '3.4'

# Pytest 7.0 introduced a major bug; see
# https://github.com/pytest-dev/pytest/issues/9620

pytest < 7.0; python_version >= '3.5'
