body {
  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #fff;
  color: #000;
}

i, em {
  font-family: Times New Roman,Times,serif;
}

a:link { 
  color: #037;
}

a:visited { 
  color: #204;
}

a:hover {
  background-color: #8df;
}

div#header {
  display: block;
  background-color: #039;
  color: #6df;
  border-bottom: 3px solid #07f;
  padding: 3px;
  font-size: 30px;
}

div#header h1 { 
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}

div#header a { 
  color: inherit;
  text-decoration: none;
}

div#nav {
  float: left;
  background-color: #9df;
  border: 1px solid #07f;
  margin-right: 1em;
  border-bottom: 1px solid #07f;
  width: 200px;
}

div#nav ul {
  padding: 0;
  margin: 0;
}

div#nav li {
  list-style: none;
  margin: 0;
}

div#nav ul li ul li a { 
  padding: 2px 2em 2px 2em;
  font-weight: normal;
}

div#nav a {
  display: block;
  padding: 2px 1em 2px 1em;
  text-decoration: none;
  color: #024;
  font-weight: bold;
}

div#nav a:hover {
  background-color: #085;
  color: #fff;
}

/* If I ever do menus that show the "current" page, that would be
   by marking some "links" as selected */
div#nav span.selected {
  display: block;
  font-weight: bold;
  padding: 2px 1em 2px 1em;
}

div#body {
  padding: 1em;
}

h1.page-title {
  margin-top: 0;
}